* {
  margin: 0 auto;
}

.container {
  padding: 200px 0;
  margin: 0 auto;
  box-sizing: border-box;

  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 325px;
    height: 475px;

    .changeTheme {
      border: none 20px;
      margin: 5px 0;
      width: 100px;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      color: black;
      background-color: white;
      transition: 0.5s;
    }

    .changeTheme:hover {
      color: white;
      background-color: black;
    }

    #screen {
      width: 280px;
      height: 50px;
      border: none;
      margin-bottom: 14px;
    }

    .btns {
      display: flex;
      flex-direction: column;
      gap: 3px;

      button {
        margin: 0;
        font-size: 30px;
      }
    }
  }
}
